@font-face{font-family:'Trail Display';font-style:normal;font-weight:800;src:url('/fonts/nunito-sans-800.ttf') format('truetype');font-display:swap}
@font-face{font-family:'Trail Display';font-style:normal;font-weight:900;src:url('/fonts/nunito-sans-900.ttf') format('truetype');font-display:swap}
